<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                <div class="col-12">
                    <h4>
                    <i class="fas fa-globe"></i> REQUERIMIENTO DE ALTA-CAMBIO-BAJA DE USUARIOS
                    <small class="float-right">
                            <address>
                                    <strong>PO89-2019-HHH</strong><br>
                                    Depto. Sistemas<br>
                                    Version 8.5 Rev 24/Jun/2019
                                    </address>
                    </small>
                    </h4>
                </div>
                <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                <div class="col-sm-3 invoice-col">
                    Solicitud
                </div>
                <!-- /.col -->
                <div class="col-sm-3 invoice-col">
                    <div class="icheck-success d-inline">
                        <input type="radio" name="r3" id="radioSuccess1">
                        <label for="radioSuccess1">
                            Alta
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-sm-3 invoice-col">
                    <div class="icheck-primary d-inline">
                        <input type="radio" name="r3" id="radioSuccess2">
                        <label for="radioSuccess2">
                            Cambio
                        </label>
                    </div>
                </div>
                <div class="col-sm-3 invoice-col">
                        <div class="icheck-danger d-inline">
                            <input type="radio" name="r3" id="radioSuccess3">
                            <label for="radioSuccess3">
                                Baja
                            </label>
                        </div>
                    </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="col-12">
                    DATOS GENERALES DEL USUARIO
                </div>

                <div class="row invoice-info">
                        <div class="col-sm-6 invoice-col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-primary">Nombre(s)</button>
                                </div>
                                <!-- /btn-group -->
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6 invoice-col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-primary">Apellidos</button>
                                </div>
                                <!-- /btn-group -->
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 invoice-col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-primary"># Coloborador</button>
                                </div>
                                <!-- /btn-group -->
                                <input type="text" class="form-control">
                            </div>
                        </div>
                            <!-- /.col -->
                        <div class="col-sm-6 invoice-col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="btn btn-primary">Fecha de solicitud</button>
                                </div>
                                <!-- /btn-group -->
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6 invoice-col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-primary">Departamento</button>
                                    </div>
                                    <!-- /btn-group -->
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                                <!-- /.col -->
                            <div class="col-sm-6 invoice-col">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-primary">Puesto</button>
                                    </div>
                                    <!-- /btn-group -->
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                </div>  
                <div class="row invoice-info">
                        <div class="col-sm-3 invoice-col">
                            Zona
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 invoice-col">
                            Mexico
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-3 invoice-col">
                            Jamaica
                        </div>
                        <div class="col-sm-3 invoice-col">
                            Republica Dominicana
                        </div>
                </div>
                <div class="row invoice-info">
                        <div class="col-sm-3 invoice-col">
                            Hotel<br>
                            Empresa:
                        </div>
                        <div class="col-sm-3 invoice-col">
                                <div class="row invoice-info">
                                        <div class="col-sm-3 invoice-col">
                                            <input class="form-check-input" type="radio" name="radio1">
                                            <label class="form-check-label">CPMX</label>
                                        </div>
                                        <div class="col-sm-3 invoice-col">
                                            <input class="form-check-input" type="radio" name="radio1">
                                            <label class="form-check-label">HPLY</label>
                                        </div>
                                        <div class="col-sm-3 invoice-col">
                                                <input class="form-check-input" type="radio" name="radio1">
                                                <label class="form-check-label">HZLC</label>
                                            </div>
                                            <div class="col-sm-3 invoice-col">
                                                <input class="form-check-input" type="radio" name="radio1">
                                                <label class="form-check-label">HZVC</label>
                                            </div>
                                            <div class="col-sm-3 invoice-col">
                                                    <input class="form-check-input" type="radio" name="radio1">
                                                    <label class="form-check-label">HZVL</label>
                                                </div>
                                                <div class="col-sm-3 invoice-col">
                                                    <input class="form-check-input" type="radio" name="radio1">
                                                    <label class="form-check-label">HZVP</label>
                                                </div>  
                                                <div class="col-sm-3 invoice-col">
                                                        <input class="form-check-input" type="radio" name="radio1">
                                                        <label class="form-check-label">PJKC</label>
                                                    </div>
                                                    <div class="col-sm-3 invoice-col">
                                                        <input class="form-check-input" type="radio" name="radio1">
                                                        <label class="form-check-label">PJKP</label>
                                                    </div>          
                                    </div> 
                        </div>
                        <div class="col-sm-3 invoice-col">
                                <div class="row invoice-info">
                                        <div class="col-sm-3 invoice-col">
                                            <input class="form-check-input" type="radio" name="radio1">
                                            <label class="form-check-label">HRH</label>
                                        </div>
                                        <div class="col-sm-3 invoice-col">
                                            <input class="form-check-input" type="radio" name="radio1">
                                            <label class="form-check-label">HZLJ</label>
                                        </div>
                                        <div class="col-sm-3 invoice-col">
                                                <input class="form-check-input" type="radio" name="radio1">
                                                <label class="form-check-label">HZVJ</label>
                                            </div>
                                            <div class="col-sm-3 invoice-col">
                                                <input class="form-check-input" type="radio" name="radio1">
                                                <label class="form-check-label">JWD</label>
                                            </div>
                                            <div class="col-sm-3 invoice-col">
                                                    <input class="form-check-input" type="radio" name="radio1">
                                                    <label class="form-check-label">JWG</label>
                                                </div>
                                                <div class="col-sm-3 invoice-col">
                                                    <input class="form-check-input" type="radio" name="radio1">
                                                    <label class="form-check-label">JWP</label>
                                                </div>  
                                                <div class="col-sm-3 invoice-col">
                                                        <input class="form-check-input" type="radio" name="radio1">
                                                        <label class="form-check-label">JWR</label>
                                                    </div>
                                                    <div class="col-sm-3 invoice-col">
                                                        <input class="form-check-input" type="radio" name="radio1">
                                                        <label class="form-check-label">RRS</label>
                                                    </div>          
                                    </div>    
                        </div>
                        <div class="col-sm-3 invoice-col">
                                <div class="row invoice-info">
                                        <div class="col-sm-3 invoice-col">
                                            <input class="form-check-input" type="radio" name="radio1">
                                            <label class="form-check-label">ROM</label>
                                        </div>
                                        <div class="col-sm-3 invoice-col">
                                            <input class="form-check-input" type="radio" name="radio1">
                                            <label class="form-check-label">RMF</label>
                                        </div>
                                        <div class="col-sm-3 invoice-col">
                                                <input class="form-check-input" type="radio" name="radio1">
                                                <label class="form-check-label">STY</label>
                                            </div>
                                            
                                    </div>  
                        </div>
                </div>
                <div class="col-12">
                    ACCESO A APLICACIONES Y ROLES
                </div>

                <!-- Table row -->
                <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Qty</th>
                        <th>Product</th>
                        <th>Serial #</th>
                        <th>Description</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Call of Duty</td>
                        <td>455-981-221</td>
                        <td>El snort testosterone trophy driving gloves handsome</td>
                        <td>$64.50</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Need for Speed IV</td>
                        <td>247-925-726</td>
                        <td>Wes Anderson umami biodiesel</td>
                        <td>$50.00</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Monsters DVD</td>
                        <td>735-845-642</td>
                        <td>Terry Richardson helvetica tousled street art master</td>
                        <td>$10.70</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Grown Ups Blue Ray</td>
                        <td>422-568-642</td>
                        <td>Tousled lomo letterpress</td>
                        <td>$25.99</td>
                    </tr>
                    </tbody>
                    </table>
                </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                    <p class="lead">Payment Methods:</p>
                    <img src="../../dist/img/credit/visa.png" alt="Visa">
                    <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                    <img src="../../dist/img/credit/american-express.png" alt="American Express">
                    <img src="../../dist/img/credit/paypal2.png" alt="Paypal">

                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                    plugg
                    dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                    <p class="lead">Amount Due 2/22/2014</p>

                    <div class="table-responsive">
                    <table class="table">
                        <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td>$250.30</td>
                        </tr>
                        <tr>
                        <th>Tax (9.3%)</th>
                        <td>$10.34</td>
                        </tr>
                        <tr>
                        <th>Shipping:</th>
                        <td>$5.80</td>
                        </tr>
                        <tr>
                        <th>Total:</th>
                        <td>$265.24</td>
                        </tr>
                    </table>
                    </div>
                </div>
                <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- this row will not appear when printing -->
                <div class="row no-print">
                <div class="col-12">
                    <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                    <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                    Payment
                    </button>
                    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                    </button>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
