<div class="content-wrapper" id="Solicitud">
    <section class="content">
        <div class="container-fluid">
            <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                    <div class="col-12">
                        <h4>
                            <i class="fas fa-globe"></i> REQUERIMIENTO DE ALTA-CAMBIO-BAJA DE USUARIOS
                            <small class="float-right">
                            <address>
                                    <strong>PO89-2019-HHH</strong><br>
                                    Depto. Sistemas<br>
                                    Version 8.5 Rev 24/Jun/2019
                                    </address>
                    </small>
                        </h4>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-3 invoice-col">
                        Solicitud
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 invoice-col">
                        <div class="icheck-success d-inline">
                            <input type="radio" name="r3" id="radioSuccess1">
                            <label for="radioSuccess1">
                            Alta
                        </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 invoice-col">
                        <div class="icheck-primary d-inline">
                            <input type="radio" name="r3" id="radioSuccess2">
                            <label for="radioSuccess2">
                            Cambio
                        </label>
                        </div>
                    </div>
                    <div class="col-sm-3 invoice-col">
                        <div class="icheck-danger d-inline">
                            <input type="radio" name="r3" id="radioSuccess3">
                            <label for="radioSuccess3">
                                Baja
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="col-12 box-body text-center bg-navy">
                    DATOS GENERALES DEL USUARIO
                </div>

                <div class="row invoice-info">
                        <div class="input-group col-sm-4">
                                <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Nombre(S)</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control form-control-sm" id="colFormLabelSm" >
                                </div>
                        </div>
                        <div class="input-group col-sm-4">
                                <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm Ellipsis">Apellidos</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control form-control-sm" id="colFormLabelSm" >
                                </div>
                        </div>
                        <div class="input-group col-sm-4">
                            <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm Ellipsis"># Colaborador</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="colFormLabelSm" >
                            </div>
                        </div> 
                        <div class="input-group col-sm-4">
                            <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm Ellipsis">Fecha de Solicitud</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="colFormLabelSm" >
                            </div>
                    </div>
                    <div class="input-group col-sm-4">
                            <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm Ellipsis">Departamento</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="colFormLabelSm" >
                            </div>
                    </div>
                    <div class="input-group col-sm-4">
                        <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm Ellipsis">Puesto: </label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control form-control-sm" id="colFormLabelSm" >
                        </div>
                    </div> 
                </div>
                <div class="row invoice-info">
                    <div class="col-sm-3 invoice-col">
                        Zona
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 invoice-col">
                        Mexico
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-3 invoice-col">
                        Jamaica
                    </div>
                    <div class="col-sm-3 invoice-col">
                        Republica Dominicana
                    </div>
                </div>
                <div class="row invoice-info">
                    <div class="col-sm-3 invoice-col">
                        Hotel<br> Empresa:
                    </div>
                    <div class="col-sm-3 invoice-col">
                        <div class="row invoice-info">
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">CPMX</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">HPLY</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">HZLC</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">HZVC</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">HZVL</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">HZVP</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">PJKC</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">PJKP</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 invoice-col">
                        <div class="row invoice-info">
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">HRH</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">HZLJ</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">HZVJ</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">JWD</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">JWG</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">JWP</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">JWR</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">RRS</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 invoice-col">
                        <div class="row invoice-info">
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">ROM</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">RMF</label>
                            </div>
                            <div class="col-sm-3 invoice-col ItemEmpresa">
                                <input class="form-check-input" type="checkbox" name="radio1">
                                <label class="form-check-label">STY</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 box-body text-center bg-navy">
                    ACCESO A APLICACIONES Y ROLES
                </div>
                <div class="row invoice-info">
                    <div class="col-sm-3 invoice-col">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" name="r3" id="radioSuccess11">
                            <label for="radioSuccess11">
                            Asignacion de Celular
                        </label>
                        </div>
                    </div>
                    <div class="col-sm-3 invoice-col">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" name="r3" id="radioSuccess22">
                            <label for="radioSuccess22">
                            VPN
                        </label>
                        </div>
                    </div>
                    <div class="col-sm-3 invoice-col">
                        <div class="icheck-primary d-inline">
                            <input type="checkbox" name="r3" id="radioSuccess33">
                            <label for="radioSuccess33">
                            Windows
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>

                <div class="col-12 box-body text-center bg-navy">
                        <div class="row invoice-info">
                                <div class="col-sm-2 invoice-col">
                                    Sistema
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-8 invoice-col">
                                    Propiedades
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-2 invoice-col">
                                    Perfil
                                </div>
                            </div>
                    </div>

                <div class="container table-sistemas">
                    <div *ngFor="let sistema of siste.sistemas; let i=index;" class="row fila">
                        <div class="col-2 Ellipsis">{{sistema.Sistema}}</div> 
                        <div class="col-8">
                              <div class="row invoice-info">
                                  <!-- <div *ngFor="let propiedad of sistema.Opciones" class="{{sistema.Clase}} invoice-col ItemEmpresa">
                                      <input class="form-check-input" type="checkbox" name="radio1">
                                      <label class="form-check-label Ellipsis">{{propiedad.Nombre}}</label>
                                  </div> -->
                                  <div *ngFor="let propiedad of sistema.Opciones;  let j=index;" class="icheck-success d-inline">
                                    <input type="checkbox" id="checkboxSuccess{{i}}{{j}}">
                                    <label for="checkboxSuccess{{i}}{{j}}">
                                            {{propiedad.Nombre}}
                                    </label>
                                  </div>
                              </div>
                        </div>
                        <div class="col-2">
                              <div *ngIf="sistema.Perfil" class="input-group mb-12">
                                  <select class="custom-select" id="inputGroupSelect01">
                                      <option selected>Escoge uno...</option>
                                      <option value="1">Manager</option>
                                      <option value="2">DBA</option>
                                      <option value="3">Admin</option>
                                  </select>
                              </div>
                        </div>
                      </div>



                </div>

                <!-- this row will not appear when printing -->
                <div class="row no-print">
                    <div class="col-12">
                        <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                        <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Submit
                    Payment
                    </button>
                        <button type="button" class="btn bg-info float-right" style="margin-right: 5px;" (click)="GenerarPDF()">
                    <i class="fas fa-download"></i> Generate PDF
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>